name: code check on pull requests

on:
  pull_request:
  # refs https://github.com/ArtiomTr/jest-coverage-report-action#forks-with-no-write-permission
  pull_request_target:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  code-check:
    runs-on: ubuntu-latest
    name: Code check
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22.21.1
          cache: npm
      - run: npm install
      - run: npm run build -- --log-prefix=none
      - run: npm run lint -- --log-prefix=none
      - name: Type Check
        # eslint で tsc のチェック内容はチェックしないのでここで型チェックを行う
        # next build だとエラーフォーマットが tsc と違い problemMatcher を書くのが面倒なので、
        # 独自で tsc を実行するようにした
        run: npm run type-check -- --log-prefix=none
