name: code check on pull requests

on:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # refs https://azukiazusa.dev/blog/monorepo-github-actions-jest-coverage-report-action/
  get-changed-workspaces:
    name: Get changed packages
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.changed-packages.outputs.packages }}
      empty: ${{ steps.changed-packages.outputs.empty }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Find changed packages
        uses: alexshukel/get-changed-workspaces-action@v2.0.0
        id: changed-packages
        with:
          workspaces: |
            apps/*

  coverage:
    name: Coverage report
    # このジョブを実行するためには get-changed-workspaces が正常に完了している必要がある
    needs: [get-changed-workspaces]
    if: ${{ !fromJson(needs.get-changed-workspaces.outputs.empty) }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # 変更された packages をマトリックス戦略に渡す
        package: ${{ fromJson(needs.get-changed-workspaces.outputs.packages) }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.0
          cache: npm
      - name: "Install"
        run: npm install
      - name: "Test"
        working-directory: apps/${{ matrix.package.name }}
        run: npm run test:ci
      - uses: davelosert/vitest-coverage-report-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # ワークフローを実行するディレクトリを指定する
          working-directory: apps/${{ matrix.package.name }}
